body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-raleway: Raleway;
  --font-montserrat: Montserrat;
  --font-mixed: Mixed;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-mini: 15px;
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;
  --font-size-17xl: 36px;
  --font-size-xs: 12px;
  --font-size-3xl: 22px;
  --font-size-3xs: 10px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #898383;
  --color-gray-300: #141434;
  --color-gray-200: #0f0f2d;
  --color-seagreen-100: #008954;
  --color-seagreen-200: #008855;
  --color-mediumseagreen-100: #26b07a;
  --color-mediumseagreen: #26ad7a;
  --color-black: #000;
  --color-dimgray-200: #6b7172;
  --color-dimgray: #676767;
  --color-dimgray-100: #474766;
  --color-silver: #bababa;
  --color-darkslategray-100: #424261;
  --color-darkslategray: #2d2c40;
  --color-whitesmoke-100: #f5f4f2;
  --color-whitesmoke-200: #eee;
  --color-gainsboro: #dadada;

  /* Gaps */
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-smi: 13px;
  --gap-9xl: 28px;
  --gap-sm: 14px;
  --gap-7xl: 26px;
  --gap-lgi: 19px;
  --gap-11xl: 30px;
  --gap-0: 0px;
  --gap-29xl: 48px;
  --gap-25xl: 44px;
  --gap-22xl: 41px;
  --gap-lg: 18px;
  --gap-76xl: 95px;
  --gap-68xl: 87px;
  --gap-77xl: 96px;
  --gap-12xl: 31px;
  --gap-2xl: 21px;
  --gap-3xs: 10px;
  --gap-6xl: 25px;
  --gap-8xl: 27px;
  --gap-35xl: 54px;
  --gap-base: 16px;
  --gap-30xl: 49px;
  --gap-20xl: 39px;
  --gap-4xl: 23px;
  --gap-mid: 17px;
  --gap-3xl: 22px;
  --gap-23xl: 42px;
  --gap-37xl: 56px;
  --gap-5xs: 8px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-lgi: 19px;
  --padding-68xl: 87px;
  --padding-396xl: 415px;
  --padding-392xl: 411px;
  --padding-38xl: 57px;
  --padding-83xl: 102px;
  --padding-84xl: 103px;
  --padding-186xl: 205px;
  --padding-188xl: 207px;
  --padding-10xl: 29px;
  --padding-4xs: 9px;
  --padding-13xl: 32px;
  --padding-6xl: 25px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-7xl: 26px;
  --padding-114xl: 133px;
  --padding-8xl: 27px;
  --padding-4xl: 23px;
  --padding-2xs: 11px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-mini: 15px;
  --padding-smi: 13px;
  --padding-10xs: 3px;
  --padding-xl: 20px;
  --padding-92xl: 111px;
  --padding-53xl: 72px;
  --padding-5xl: 24px;
  --padding-12xl: 31px;
  --padding-lg: 18px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;
  --padding-67xl: 86px;
  --padding-72xl: 91px;
  --padding-301xl: 320px;
  --padding-71xl: 90px;
  --padding-40xl: 59px;
  --padding-61xl: 80px;
  --padding-39xl: 58px;
  --padding-141xl: 160px;
  --padding-11xl: 30px;
  --padding-55xl: 74px;
  --padding-29xl: 48px;
  --padding-64xl: 83px;
  --padding-35xl: 54px;
  --padding-79xl: 98px;
  --padding-45xl: 64px;
  --padding-9xs: 4px;
  --padding-105xl: 124px;
  --padding-62xl: 81px;
  --padding-107xl: 126px;
  --padding-49xl: 68px;
  --padding-25xl: 44px;
  --padding-299xl: 318px;
  --padding-47xl: 66px;
  --padding-300xl: 319px;
  --padding-23xl: 42px;
  --padding-60xl: 79px;
  --padding-24xl: 43px;
  --padding-140xl: 159px;
  --padding-8xs: 5px;
  --padding-11xs: 2px;
  --padding-80xl: 99px;
  --padding-365xl: 384px;
  --padding-110xl: 129px;
  --padding-77xl: 96px;
  --padding-65xl: 84px;
  --padding-173xl: 192px;
  --padding-50xl: 69px;
  --padding-26xl: 45px;
  --padding-xs: 12px;
  --padding-7xs: 6px;
  --padding-9xl: 28px;
  --padding-mid: 17px;
  --padding-19xl: 38px;
  --padding-2xl: 21px;
  --padding-441xl: 460px;
  --padding-3xl: 22px;
  --padding-451xl: 470px;
  --padding-98xl: 117px;
  --padding-96xl: 115px;
  --padding-216xl: 235px;
  --padding-211xl: 230px;
  --padding-97xl: 116px;
  --padding-56xl: 75px;
  --padding-33xl: 52px;
  --padding-48xl: 67px;
  --padding-89xl: 108px;
  --padding-51xl: 70px;

  /* Border radiuses */
  --br-6xl: 25px;
  --br-4xs: 9px;
  --br-10xs: 3px;
  --br-xl: 20px;
  --br-9xs: 4px;
}
